/* Bootstrap site specific override rules */
table thead tr th {text-align: center; background-color:silver}
table tbody tr td.number {text-align: right;}
table tbody tr td.right {text-align: right;}
table tbody tr td.center {text-align: center;}
/* background-color: lavender; */
.container-fluid {padding: 10px;}
.header {padding:10px;}
.footer {text-align: left; padding:10px;}
.title-in-header {font-size: 20pt; color: gray; padding: 0 20px;}
.title-in-footer {font-size: 10pt; color: silver; padding: 0 20px;}

.field-label {color:gray; padding-right: 2px;}

/* search */
.search-hit {padding:10px;}
.highlight {color: blue; background-color:khaki; padding: 2px;}
/* don't make the buttons quite so big */
.button-actions .btn {padding: 0 3px; margin-left: 3px;}


.niem-complex-type {padding:5px;}
.niem-class-name {color:blue; font-size: 14pt; margin-left: 5px;}
.niem-property {color:black; margin-left: 10px;}
.exact-match {padding: 10px;}
